@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(270deg,#0B2447, rgb(31, 5, 53));
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.estrutura{
    background-color: #000;
    padding: 30px;
    border-radius: 30px;
}

.display{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 45px;
    background-color: #FFF2CC;
    margin: 0 0 30px 0;
    padding: 0 5px 0 5px;
    color: black;
    margin-bottom: 20px;
}

/* .botoes{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
} */
.botoes__grupos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
.botao{
    background-color: #19376D;
    padding: 20px;
    margin: 1px;
    border-radius: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    
  box-shadow: 2px 2px 0 #aaa;
}
.botao__0{
    grid-column: span 2;
}
.redes{
    position: absolute;
    bottom: 5px;
}
.redes__imagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.redes__titulo{
    font-size: 24px;
}
.imagem{
    width: 22px;

}