@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.principal{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(270deg,#0B2447, rgb(31, 5, 53));
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.estrutura{
    background-color: #000;
    padding: 30px;
    border-radius: 30px;
}

.display{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 45px;
    background-color: #FFF2CC;
    margin: 0 0 30px 0;
    padding: 0 5px 0 5px;
    color: black;
    margin-bottom: 20px;
}


.botoes__grupos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
.botao{
    background-color: #111;
    padding: 20px;
    margin: 1px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 20px;
    cursor: pointer;
    }
.botao__0{
    grid-column: span 2;
}
.redes{
    position: absolute;
    bottom: 5px;
}
.redes__imagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.redes__titulo{
    font-size: 24px;
}
.imagem{
    width: 22px;

}
.botao:hover{
    background-color: #eee;
    color: #111;
}
.iluminados{
    background-color:#0B2447;
}
.iluminados__red{
    background-color: #a01414;
}
.principal__red{
    background:linear-gradient(270deg,#a01414, rgb(53, 5, 5));
}
.principal__green{
    background:linear-gradient(270deg,#268213, rgb(5, 53, 7));
}
.iluminados__green{
    background-color: #268213;
}